body{
    background: url(https://wallpaperaccess.com/full/869.jpg) no-repeat;
background-size: cover;
}
.nheader{
    width:100%;
    background-color: rgba(0,0,0,.30);
}

.nheader ul{
    text-align: center;
}

.nheader ul li{
    list-style: none;
    display: inline-block;
}

.nheader ul li a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 25px;
    transition: all ease 0.5s;
}

.nheader ul li a:hover{
    background-color: #211b4385;
}

.pagetitle{
    text-align: center;
    font-size: 50px;
}

.overview{
    background-color: rgba(233, 227, 227, 0.9);
    height: 335px;
    width: 500px;
    border: 6px solid black;
    padding: 50x;
    margin:20px;
    margin-left:32% ;
   }

.overview h3{
    color: rgb(0, 0, 0);
    font-size: 25px;
}

button{
    width:200px;
    padding: 15px 0;
    text-align:center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(7, 7, 7);
    background-color:rgba(233, 227, 227, 0.9); 
    color:rgb(0, 0, 0);
    cursor: pointer;
    margin-left: 42%;
    text-decoration: none;
}

footer{
    text-align: right;
    float: inline-end;
}

footer p{
    color: #fff;
}

.Blogo{
    width:2%;
  }
  